*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, div, body {
	margin: 0;
	padding: 0;
}

body, .btn {
	font-size: 16px;
	color: #303846;
	font-family: 'Open Sans', sans-serif;
}

p {
	padding-top: 15px;
}

a {
	text-decoration: none;
	color: inherit;
}

.header {
	position: fixed;
	top: 0;

	height: 60px;
	width: 100%;
}

.flexbox {
	display: flex;
	justify-content: space-between;
}

.btn {
	padding: 10px;

	background: none;
	outline: none;
	border: 1px solid #fff;

	cursor: pointer;
}

.center-align { align-items: center; }

.text-align { text-align: center; }

.m0a { margin: 0 auto; }

.mb10 { margin-bottom: 10px; }

.mr60 { margin-right: 60px; }

.w150 { width: 150px; }

.w300 { width: 300px; }

.w200 { width: 200px; }

.p5 { padding: 5px; }

.header__inner { padding: 10px 20px; }

.fontfff { color: #fff; }

.font02d { color: #02d4ae; }

.bo { border: 1px solid; }

.boc02d { border-color: #02d4ae;} 

.bgcfff { background-color: #fff; }

.bgcf7f { background-color: #f7f7f7; }

.bor8 { border-radius: 8px; }

.fw600 { font-weight: 600; }


.header__logo-img {
	margin-right: 15px;
	height: 40px;
	width: 40px;
}

.nav__link {
	padding-left: 15px;
	color: #303846;
}

.block1 {
	margin-top: 60px;
	background-image: url(../images/banner.png);
	background-repeat: no-repeat;
	background-position: 0 -400px;
	background-size: cover;
}

.block1__inner { margin: 50px auto; }

.block1__logo-img {
	height: 170px;
	width: 170px;
}

.block1__text { margin: 25px 0; }

.content-container { width: 1000px; }

.block2 { height: 350px; }

.block__inner { padding: 70px 0 80px; }

.item__title {
	margin-bottom: 15px;
	letter-spacing: 1px;
}

.block__img {	height: 200px; }

.block__text { width: 600px; }

.block5__inner {
	padding: 80px 0;
	width: 460px;
}

.block5__title { margin-bottom: 50px; }

.block5__form { margin-bottom: 30px; }

.form__content { margin: 20px 0px; }

.form__title {	font-size: 20px; }

.form__select {
	font-size: 15px;
	border-color: #d9d9d9;
}

footer { background-color: #303846; }

.footer__inner {
	justify-content: space-around;
	margin: 0 100px;
}

.footer__item { margin: 80px 0; }

.footer__title { margin-bottom: 20px; }